{% extends 'base.html.twig' %}

{% block title %}
	{{ tennis_match.name }}
	- TenCourt
{% endblock %}

{% block body %}
	<div class="backgroundDescriptionContainer">

		<h1 class="topTitle my-0">Match de
			{{ tennis_match.organizer.pseudo }}</h1>
		{% for message in app.flashes('success') %}
			<div id="updateMessageSuccess">
				<p class="successModifiedMessage">{{ message }}</p>
			</div>
			<script language='javascript'>
				temp = document.getElementById('updateMessageSuccess');
setTimeout('temp.style.display="none"', 3000);
			</script>
		{% endfor %}
		<div class="containerMainTop text-center">
			<h2 class="h2">{{ tennis_match.name }}</h2>
			<div class="containerDateTennisMatchShow">
				<p class="itemDateTennisMatchShow">
					<span class="titleItemTennisMatchShow">Date:</span>
					{{ tennis_match.eventDate ? tennis_match.eventDate|date('d/m/Y') }}</p>
			</div>

			<div class="d-flex justify-content-center">
				<p class="">
					<span class="">De</span>
					{{ tennis_match.startHour ? tennis_match.startHour|date('H:i') : '' }}</p>
				<p class="">
					<span class="pl-1"> à </span>
					{{ tennis_match.endHour ? tennis_match.endHour|date('H:i ') : '' }}</p>
			</div>

			<div >
				<p class="itemLevelTennisMatchShow">
					<span class="titleItemTennisMatchShow">Niveau:</span>
					{{ tennis_match.level }}</p>
			</div>
			
			<div >
				<p class="itemAddressTennisMatchShow">
					<span class="titleItemTennisMatchShow">Lieu:</span>
					{{ tennis_match.adress }}</p>
			</div>
			<div >
				<p class="itemDescriptionTennisMatchShow">
					<span class="titleItemTennisMatchShow">Description</span>
					{{ tennis_match.description }}</p>
			</div>
           
           <div class="border border-light bg-white rounded p-2">
            {% if app.user != isParticipent and nbParticipents >= 2 %}
				
					<p class="itemMatchComplete bg-danger">Match complet</p>
				
			{% endif %}

			{% if app.user == isParticipent and nbParticipents >= 2 %}
				
					<p class="itemMatchComplete bg-danger">Match complet</p>
			
			{% endif %}

             <div class="container">



			{% if app.user == tennis_match.organizer %}
				<p class="TennisMatchShowMessage bg-warning border border-warning  px-5 py-2 mt-1 mb-1">Vous êtes :<br>l'organisateur de ce match</p>
			{% endif %}

			{% if app.user == tennis_match.organizer %}
				{% for participent in tennis_match.participent %}
					{% if participent != tennis_match.organizer %}
						<a class="btn btn-success mt-1 mb-1 " href="{{ path('user_show', {'slug': participent.slug}) }}">Profil de l'adversaire</a>
					{% endif %}
				{% endfor %}
			{% endif %} 
			{% if app.user != tennis_match.organizer %}
				<a class="btn btn-success mt-1 mb-1" href="{{ path('user_show', {'slug': user.slug}) }}">Profil de l'Organisateur</a>
			{% endif %}

			{% if app.user != tennis_match.organizer and app.user == isParticipent %}
				<a class="btn btn-success mt-1 mb-1" href="{{ path('tennis_match_remove', {'id': tennis_match.id}) }}">Annuler participation</a>
			{% endif %}
{% if app.user != tennis_match.organizer and nbParticipents < 2 %}
				<div class="containerInteractionParticipeMatch">
					<a class="participateButtonTennisMatchShow" href="{{ path('tennis_match_add', {'id': tennis_match.id}) }}">Participer</a>
				</div>
			{% endif %}

            </div> 
            </div>
			
           
		</div>


		<div>



			
			{% if app.user == tennis_match.organizer %}
				<a class="btn btn-success mt-1 mb-1" href="{{path('tennis_match_edit', {'id': tennis_match.id})}}">Modifier le match</a>
				<a href="{{path('tennis_match_delete', {'id': tennis_match.id, 'slug': tennis_match.organizer.slug})}}">{{ include('tennis_match/_delete_form.html.twig') }}</a>
			{% endif %}

		
			<a class="btn btn-success  mt-3 mb-1" href="{{ path('search_matches') }}">Retour</a>
			<div class="blankTennisMatchDetailPage"></div>
		</div>
	</div>

{% endblock %}
