{% extends 'base.html.twig' %}

{% block title %}Recherche • Tencourt
{% endblock %}

{% block body %}
	<div class="background">
		<h1 class="topTitle my-0">Recherche de joueurs</h1>
		
			{{ form_start(searchForm) }}
			<div class="containerMainTop form-group text-center">
				<div>
					{{ form_row(searchForm.level, ) }}
				</div>
				<div>
					{{ form_row(searchForm.sex) }}
				</div>
				<div class="col-12 d-flex mb-4 justify-content-between">
					<div class="col-5 ">
						{{ form_row(searchForm.min, ) }}
					</div>
					<div class="col-5 ">
						{{ form_row(searchForm.max, ) }}
					</div>
				</div>
				<div class="type=" color" form-control form-control-color" value="#563d7c">
					{{ form_row(searchForm.city, ) }}
				</div>
				<div class='col-6 mx-auto d-flex flex-column'>
					<div>
						<button class="btn btn-success mb-2 ">Rechercher</button>
					</div>
					<div>
						<a class="btn btn-success mb-4 " href="{{ path('user_index') }}">Accueil</a>
					</div>
				</div>
				{{ form_end(searchForm) }}
			</div>

			{% if not users is same as null %}
				
					<h2 class='resultSearch'>Résultat de votre Recherche</h2>
					<div class='searchcontainer'>
					{% for user in users %}
						<a class="containerPlayers" href="{{ path('user_show', {'slug': user.slug}) }}">
							<div class='players'>
								{% if user.avatar == null %}
									<img class="playerPhoto" src="{{ asset('build/images/profileDefault/anonymeAvatar.png') }}"/>
								{% endif %}
								{% if user.id <= 31 %}
									<img class="playerPhoto" src="{{ user.avatar }}"/>
								{% else %}
									<img class="playerPhoto" src="{{ asset('/uploads/' ~ user.avatar) }}"/>
								{% endif %}
								<div class="container_1_players">
									<p class='playerItem playerPseudo'>{{user.pseudo}}</p>
									<p class='playerItem playerSex'>{{user.sex}}</p>
									<p class='playerItem playerAge'>{{user.age}}
										ans</p>
									<p class='playerItem playerLevel'>{{user.level}}</p>
									<p class='playerItem playerLevel'>{{user.city}}</p>
								</div>
							</div>
						</a>
					{% else %}
						<div class="containerResultSearchMessage">
							<p class="resultSearchMessage">Il n'y a pas de résultat pour votre recherches</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="blankShowUserPage"></div>
		
	{% endblock %}
