<div class="editionForm">
    {{ form_start(formAvatar) }}
    <div class="containerEditionFormAvatar">
        <div class="editionItemFormAvatar">
            {{ form_row(formAvatar.avatar) }}
        </div>
        <div class="editionButtonsFormAvatar">
            <div class="col-6">{{ form_row(formAvatar.update) }}</div>
            <a class="btn btn-success col-6 mb-2" href="{{ path('user_profile', {'slug': user.slug}) }}">Retour</a>
            <a class="btn btn-success col-6" href="{{ path('user_index') }}">Accueil</a>
        </div>
    </div>
    {{ form_end(formAvatar) }}
</div>

