{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Profile de ' ~ user.pseudo ~ ' • Tencourt'}}
{% endblock %}

{% block body %}
	<div class="containerMyMatchesBackground mx-auto col-md-6">
		{% for message in app.flashes('success') %}
			<div id="updateMessageSuccess">
				<p class="successModifiedMessage">{{ message }}</p>
			</div>
			<script language='javascript'>
				temp = document.getElementById('updateMessageSuccess');
setTimeout('temp.style.display="none"', 3000);
			</script>
		{% endfor %}
		<div>
			<div class="d-flex flex-row justify-content-center my-4">
				<div class="text-center w-50 mt-4">
					{% if user.avatar == null %}
						<img class="rounded-circle" src="{{ asset('build/images/profileDefault/anonymeAvatar.png') }}"/>
					{% endif %}
					{% if user.id <= 31 %}
						<img class="rounded-circle" src="{{ user.avatar }}"/>
					{% else %}
						<img class="rounded-circle" src="{{ asset('/uploads/' ~ user.avatar) }}"/>
					{% endif %}
				</div>
				<div class="userPseudoShow d-flex flex-column w-50 mt-4">
					<p class="userPseudoShowItem">{{ user.pseudo }}</p>
					<p class="userSexShowItem">{{ user.sex }}</p>
				</div>
			</div>
			<div class="m-1 mt-4 mb-4 ml-3 mr-3 ">
				<p class="ml-3 mr-3">{{user.description}}</p>
			</div>


			<div class="userInformationShow ml-3 mr-3">
				<p class="userInformationItem userAgeShow">{{user.age ~ ' ans'}}</p>
				<p class="userInformationItem userLocalisationShow">{{user.city}}</p>
				<p class="userInformationItem userLevelShow">{{user.level}}</p>
			</div>
			<div class="containerMain  align-items-center d-flex flex-column">
				<div class="userContactShow">
					{% if user.phone %}
						<div class="userContactPhone">Numéro de telephone:</div>
						<div class="userPhoneShow pl-2 pr-2">{{user.phone}}</div>
					{% endif %}
					<div class="userContactAddress">Adresse:</div>
					<div class="userAddressShow pl-2 pr-2">{{user.address ~ ' ' ~ user.postalcode ~ ' ' ~ user.city}}</div>
				</div>

				{% if user.slug != app.user.slug %}
					<div class="w-50">
						<a class="btn btn-success mt-2 " href="{{ path('user_mail', {'slug': user.slug}) }}">Contacter</a>
					</div>
				{% endif %}
					<div class="w-50">
						<a class="btn btn-success mt-2" href="{{ path('search_users')}}">Retour</a>
					</div>
			</div>
		</div>
		<div class="blankEditionPage mb-4"></div>
	</div>
{% endblock %}
