{% extends "base.html.twig" %}

{% block body %}
<h1 class="topTitle">Modifier le mot de passe</h1>
<div class="backgroundAllUsers">
    {{ form_start(form) }}
    <div class="containerMainTop">
        <div class="updatePasswordItemForm">
            {{ form_row(form.oldPassword) }}
        </div>
         <div class="updatePasswordItemForm">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="updatePasswordItemForm w-50 mx-auto">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
        <a class="backButtonUpdatePassword w-50" href="{{ path('user_profile', {'slug': user.slug}) }}">Retour</a>
    </div>
</div>
{% endblock %}


